<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Mentor Form</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>GetDepartmentServlet</display-name>
    <servlet-name>GetDepartmentServlet</servlet-name>
    <servlet-class>com.mentor.servlet.GetDepartmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetDepartmentServlet</servlet-name>
    <url-pattern>/Selectdept</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestServlet</display-name>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>com.mentor.servlet.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveDataServlet</display-name>
    <servlet-name>SaveDataServlet</servlet-name>
    <servlet-class>com.mentor.servlet.SaveDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveDataServlet</servlet-name>
    <url-pattern>/save</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentDetails</display-name>
    <servlet-name>StudentDetails</servlet-name>
    <servlet-class>com.mentor.servlet.StudentDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentDetails</servlet-name>
    <url-pattern>/ShowStudentDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateStudentDataServlet</display-name>
    <servlet-name>UpdateStudentDataServlet</servlet-name>
    <servlet-class>com.mentor.servlet.UpdateStudentDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStudentDataServlet</servlet-name>
    <url-pattern>/UpdateDetails</url-pattern>
  </servlet-mapping>
</web-app>